/* UserOptions.css */
.user-options {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
  
.user_title {
  font-size: 24px;
  color: white;
  margin-top: 90px;
  padding-bottom: 30px;
}
  
.user_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
  
.user-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
  
.user-link:hover {
  background-color: #575757;
  text-decoration: none;
}
  
.user-link.active {
  background-color: #517aa7;
  color: white;
}
  